/* ボタン */
@mixin button__link {
  margin: 0 .45rem;
  border: 1px solid #dedede;
  transition: border-color .3s ease-in-out;
}

/* ボタン ( メニューバー ) */
@mixin button__link__menu {
  margin-left: 2rem;
  font-size: 1.5rem;
  transition: font-size .3s;

  &:hover {
    font-size: 1.8rem;
  }
}